.header__theme-menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (width <= 768px) {
    .header__theme-menu-list {
        flex-direction: column;
    }
}
