.focus-tips__card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (width > 1024px) {
    .focus-tips__card {
        justify-content: space-between;
    }
}

@media (width < 1024px) {
    .focus-tips__card {
        flex-direction: column;
    }
}