.header {
    flex-direction: column;
    padding: var(--padding);
    margin-block-end: 60px;

}

@media (width <= 375px) {
    .header {
        padding: var(--padding-mobile);
        margin-block-end: 40px;
    }
}