.card__items {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card__item-one {
    width: 100%;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 3;

    object-fit: cover;
    object-position: center;
}
.card__item-two {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    grid-column-start: 3;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 3;
}
.card__item-three {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    grid-row-start: 2;
    grid-row-end: 5;
}
.card__item-four {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    grid-row-start: 2;
    grid-row-end: 2;
}
.card__item-five {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 5;
}

@media (width = 1024px) {
    .card__items {
        grid-template-columns: repeat(3, 315px);
        grid-template-rows: repeat(3, 315px);
    }
}

@media (width = 768px) {
    .card__items {
        grid-template-columns: repeat(3, 230px);
        grid-template-rows: repeat(3, 230px);
    }
}

@media (width <= 375px) {
    .card__items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}