.card__items {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media (width <= 425px) {
    .card__items {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}