.cover__paragraph {
    font-family: IBM Plex Mono, monospace;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--title-text-color);
    background-color: var(--text-back);
    align-self: end;
    max-width: 491px;
}

@media (width <= 768px) {
    .cover__paragraph {
        max-width: 364px;
    }
}

@media (width <= 425px) {
    .cover__paragraph {
        max-width: 355px;
    }
}