.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0px #FF0070;
    font-family: IBM Plex Mono, sans-serif;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    align-self: center;
}

@media (width <= 375px) {
    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}