.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0px #FF0070;
    font-family: IBM Plex Mono, monospace;
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;
    align-self: center;
}

@media (width <= 425px) {
    .footer__title {
        font-size: var(--font-size-title-mob);
    }
}