.card__text {
    color: var(--title-text-color);
    font-family: IBM Plex Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    background-color: var(--text-back);
}