.focus-tips__paragraph-title {
    color: var(--title-text-color);
    font-family: IBM Plex Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 130% */
    background-color: var(--text-back);
}