@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
        align-self: start;
        padding-left: 20px;
    }
}

@media (width <= 768px) {
    .header__theme-menu {
    }
}
@media (width <= 375px) {
    .header__theme-menu {

    }
}