.header__theme-menu-button {
    color: var(--rec-border);
    text-align: center;
    font-family: IBM Plex Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 2px 13px 4px;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    text-transform: lowercase;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    text-decoration: underline;
    text-underline-position: under;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--header-button-hover);
}