.focus-tips__title {
    color: #FF0070;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 315px;
}

@media (width <= 768px) {
    .focus-tips__title {
        max-width: 236px;
    }
}