.focus-tips__title {
    color: var(--focus-title);
    font-family: IBM Plex Mono, monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 315px;
}

@media (width <= 768px) {
    .focus-tips__title {
        max-width: 236px;
    }
}

@media (width <= 425px) {
    .focus-tips__title {
        max-width: 355px;
    }
}