.footer {
    padding: var(--padding);
    display: flex;
    position: relative;
    justify-content: center;
}

@media (width <= 375px) {
    .footer {
        padding: var(--padding-mobile);
    }
}