/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

    --back-image: url("../images/cover-image-light.png");
    --text-back: #FF8DCB;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-text-color: #353430;
    --focus-title: #353430;
    --rec-border: #353430;

    --header-button-hover: rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
    :root {
        --back-image: url("../images/cover-image-light.png");
        --text-back: #FF8DCB;
        --text-color: #353430;
        --title-color: #FFC2E6;
        --title-text-color: #353430;
        --focus-title: #353430;
        --rec-border: #353430;

        --header-button-hover: rgba(50, 49, 45, 0.40);
    }

    .theme_auto .header__rec {
        display: none;
    }
}

.theme_light .header__rec {
    display: none;
}