.card {
    padding-right: var(--padding);
    padding-left: var(--padding);
    margin-block-start: 80px;
    margin-block-end: 60px;
}

@media (width <= 425px) {
    .card {
        margin-block-start: 40px;
        margin-block-end: 40px;
        padding-right: var(--padding-mobile);
        padding-left: var(--padding-mobile);
    }
}