.header__rec-text {
    color: #FF0070;
    text-align: center;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
}